// @import url('https://fonts.googleapis.com/css?family=Poppins:300,700');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400|Lato:900');

@font-face {
    font-family: 'wdpln_regular';
    src: url('../../static/fonts/wdpln_regular.woff2') format('woff2'), url('../../static/fonts/wdpln_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wdpln_bold';
    src: url('../../static/fonts/wdpln_bold.woff2') format('woff2'), url('../../static/fonts/wdpln_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.material-icons {
    font-size: 15px;
    line-height: 20px;
    padding-right: .5rem;
}
