{% block html_head_container %}
	{% include 'partials/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<body class="{{body_class}} preload" data-template="_layout.twig">
		{% block header %}
			{% include 'components/Header/Header.twig' %}
		{% endblock%}
			<main>
				{% block content %}
					Sorry, no content
				{% endblock %}
			</main>
		</div>
		{% block footer %}
			{% include 'components/Footer/Footer.twig' %}
			{% include 'partials/inline-scripts.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>