<footer class="site-footer fullwidth">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 footer__links">
				<div class="links">
					<a href="/privacy-policy">Privacy Policy</a>
				</div>
			</div>
			<div class="col-lg-6 footer__copyright">
				&copy; <?php echo date("Y"); ?> Woodplane
			</div>
		</div>
	</div>
</footer>