.main-header {
	width: 100%;
	top: 0;
	position: sticky;
	// old iOS fix to overwrite not working z-index
	transform: translate3d(0,0,1);
	-webkit-transform: translate3d(0,0,1);
	z-index: 110;
	white-space: nowrap;
	background: var(--bg-color);
	box-shadow: 0 3px 60px rgba(0,0,0,.08);
	// @media (prefers-color-scheme: dark) {
	// 	box-shadow: 0 3px 60px rgba(0,0,0,.4);
	// }
	&:after {
		content: '';
		height: 100vh;
		height: calc(100vh - 80px);
		@include media-breakpoint-down(md) { 
			height: calc(100vh - 70px);
		}
		transform: scale3d(1,0,1);
		transform-origin: top;
		width: 100%;
		background: white; // IE11
		background: var(--bg-color);
		z-index: 4;
		will-change: transform;
		transition: transform 0.6s $defaultTransitionEasing;
		position: absolute;
		left: 0;
	}
	&.is--open {
		&:after {
			transform: scale3d(1,1,1);
		}
	}
	// border-bottom: 1px solid rgba(0,0,0,.05) !important;
	// box-shadow: 1px 1px 3px rgba(0,0,0,.05);
	// &:after{
	// 	content: '';
	// 	width: 100%;
	// 	opacity: 1;
	// 	height: 100%;
	// 	background: rgba(255,255,255,1);
	// 	position: absolute;
	// 	top: 0;
	// 	z-index: -1;
	// }
	// .home &, .single &{
	// 	border-bottom: 0;
	// 	box-shadow: none;
	// 	&:after{
	// 		content: '';
	// 		width: 100%;
	// 		opacity: 0;
	// 		height: 0;
	// 		background: rgba(255,255,255,1);
	// 		transition: opacity 0.2s $defaultTransitionEasing, height 0.2s $defaultTransitionEasing;
	// 		position: absolute;
	// 		top: 0;
	// 		z-index: -1;
	// 	}
	// 	svg {
	// 		fill: white;
	// 	}
	// }
	// &.is-white{
	// 	border-bottom: 1px solid rgba(0,0,0,.05);
	// 	box-shadow: 1px 1px 10px rgba(0,0,0,.05);
	// 	&:after{
	// 		opacity: 1;
	// 		height: 100%;
	// 	}
	// 	svg {
	// 		fill: $primary-color!important;
	// 	}
	// }
	// box-shadow: 0 0 10px rgba(0,0,0,.08);
	/* height: 30vh; // will be used to animate navigation*/
	&__navtrigger,
	&__searchtrigger {
		padding: 2rem 0;
		font-size: 1.1rem;
		@include media-breakpoint-up(md) { 
			padding: 2.5rem 0; // plus 1rem of the text itself matches the height of the logo
		}
		background: none;
		border: none;
		outline: none;
		cursor: pointer;
		.iconswitch {
			display: inline-flex;
			flex-direction: column;
			height: 1.25em;
			overflow: hidden;
			@include media-breakpoint-up(md) { 
				margin-bottom: 0.15rem;
			}
			.gfx {
				transition: all 0.5s ease;
			}
		}

		a {
			display: flex;
			align-items: center;
		}

		a,
		i {
			// color: white;
			color: var(--text-color);
			// .home &, .single & {
			// 	color: white;
			// }
			// // pointer-events: none;
			// .is-white & {
			// 	color: var(--text-color);
			// }
		}

		.gfx {
			// fill: white;
			fill: var(--text-color);
			// .home &, .single & {
			// 	fill: white;
			// }
			// .is-white & {
			// 	fill: var(--text-color);
			// }
		}
		.nav-icon {
			width: 1.2rem;
			height: 10.5px;
			margin-right: 5px;
			position: relative;
			display: inline-block;
			vertical-align: baseline;
			-webkit-transform: translateY(-1px) rotate(0deg);
			-moz-transform: translateY(-1px) rotate(0deg);
			-o-transform: translateY(-1px) rotate(0deg);
			transform: translateY(-1px) rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			cursor: pointer;
			span {
			  display: block;
			  position: absolute;
			  height: 1px;
			  width: 100%;
			//   background: white;
			  background: var(--text-color);
			  opacity: 1;
			  left: 0;
			  -webkit-transform: rotate(0deg);
			  -moz-transform: rotate(0deg);
			  -o-transform: rotate(0deg);
			  transform: rotate(0deg);
			  -webkit-transition: .25s ease-in-out;
			  -moz-transition: .25s ease-in-out;
			  -o-transition: .25s ease-in-out;
			  transition: .25s ease-in-out;
			}

			 span:nth-child(1) {
			  top: 0px;
			}

			 span:nth-child(2) {
			  top: 50%;
			}

			 span:nth-child(3) {
			  top: 100%;
			}
			// .nav--open &{
			// 	span:nth-child(2) {
			// 	  opacity: 0;
			// 	  left: -100%;
			// 	}
			// }

			// .nav--open & {
			// 	span:nth-child(3) {
			// 	  top: 50%;
			// 	  -webkit-transform: rotate(-135deg);
			// 	  -moz-transform: rotate(-135deg);
			// 	  -o-transform: rotate(-135deg);
			// 	  transform: rotate(-135deg);
			// 	}
			// }
		}
	}

	&.nav--open {
		.main-header__navtrigger .iconswitch .gfx {
			transform: translateY(-100%);
			&:first-child {
				opacity: 0;
			}
			&:last-child {
				opacity: 1;
				transform: translateY(-100%) rotate(45deg);
			}
		}
	}

	&.search--open {
		.main-header__searchtrigger .iconswitch .gfx {
			transform: translateY(-100%);
			&:first-child {
				opacity: 0;
			}
			&:last-child {
				opacity: 1;
				transform: translateY(-100%) rotate(45deg);
			}
		}
	}

	.logo {
		padding: 1.25rem 0;
		@include media-breakpoint-up(md) { 
			padding: 1.5rem 0;
		}
		svg {
			width: 100%;
			height: 2.5rem;
			display: block;
			margin: 0 auto;
			// fill: white;
			fill: var(--text-color);
			// .home &, .single &{
			// 	fill: white;
			// }
			@include media-breakpoint-up(md) { 
				height: 3rem;
			}
		}
	}

	&__nav,
	&__search {
		z-index: 100;
		position: absolute;
		width: 100%;
		color: var(--text-color);
		opacity: 0;
		visibility: hidden;
		display: flex;
		font-size: 1.1rem;
		align-items: flex-start;
		@include media-breakpoint-down(md) { 
			padding: 8vh 4vh 12vh;
		}
		transition: all 0.6s $defaultTransitionEasing;
		overflow-y: auto; /* has to be scroll, not auto but looks ugly on Windows */
	  	-webkit-overflow-scrolling: touch;
		height: 100%;
		min-height: 100%;
		padding: 12vh 6vh;
		a, p {
			font-size: 1.1rem;
		}
		&.is--open {
			opacity: 1;
			visibility: visible;
			min-height: calc(100vh - 80px);
			@include media-breakpoint-down(md) { 
				min-height: calc(100vh - 70px);
			}
		}
		// navigation
		&__navlist {
			margin: 0;
			padding: 0;
		}
		&__form {
			margin-bottom: 3rem;
			.search-field {
				padding: 2rem;
				margin: 1rem 0;
				border-radius: 5px;
				-webkit-appearance: none;
				background: var(--bg-color-secondary);
				color: var(--text-color);
				width: 100%;
				display: block;
			}
			.search-submit {
				margin: 2rem 0;
				color: $primary;
			}
		}
		&__popular {
			ul{
				padding: 0;
		    	margin: 1rem -5px;
				display: flex;
				flex-flow: row wrap;
				li {
					border: 1px solid; // iOS fix
					background: none;
					border-radius: 10rem;
					list-style: none;
					display: inline-block;
					padding: 0.35rem 1rem;
					margin: 5px;
					overflow: hidden;
					max-width: 100%;
					text-overflow: ellipsis;
				}
			}
		}
	}
}