<header class="MainHeader">
	<div class="container">
		<div class="row">
			<div class="col-5 p-0 d-flex align-items-center">
				<button type="button" class="MainHeader__trigger MainHeader__navtrigger" data-trigger="nav--open">
					<span>Menu</span>
				</button>
			</div>
			<div class="col">
				<a href="/">
					Logo
				</a>
			</div>
			<div class="col-5 p-0 d-flex align-items-center justify-content-end">
				<button type="button" class="MainHeader__trigger MainHeader__searchtrigger" data-trigger="search--open">
					<span>Search</span>
				</button>
			</div>
		</div>
	</div>
	<nav class="MainHeader__nav">
		<div class="container is-narrow">
			<ul class="MainHeader__nav__navlist row text-center">
                <li>Navitem</li>
			</ul>
		</div>
	</nav>
	<div class="MainHeader__search">
		{% include "components/SearchForm/SearchForm.twig" %}
	</div>
</header>
